<div class="container">
  <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
    <a href="/" class="d-flex align-items-left mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
      <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"/></svg>
      <span class="fs-4">Distributed calc v2 by Mur466</span>
    </a>
    
    <ul class="nav nav-pills">
      {{if .AuthUser}}
      <li class="nav-item"><a href="/signout" class="nav-link">Sign Out</a></li>
      {{end}}
      <li class="nav-item"><a href="/tasks" class="nav-link {{if (eq .title "Tasks")}}active{{end}}">Tasks</a></li>
      <li class="nav-item"><a href="/agents" class="nav-link {{if (eq .title "Agents")}}active{{end}}">Agents</a></li>
      <li class="nav-item"><a href="/config" class="nav-link {{if (eq .title "Config")}}active{{end}}">Config</a></li>

    </ul>
  </header>
</div>

